<!DOCTYPE html>
<html lang="en" ng-app="assetsApp">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" type="text/css" href="css/tron.css" />
    <link href="sticky-footer-navbar.css" rel="stylesheet">

    <title>Yesso</title>
</head>
<body ng-controller="MainCtr">

    <div class="container ">
        <style>
            body{
                border: 10px solid #010066;
            }
        </style>
        <div style="margin-bottom: 20px;" class="text-center">
            <img src="img/logo.png" />
        </div>
        <div style="width: 90%; margin: 0px auto">

            <form name="myForm" method="post" class="text-center" >

                <div class="form-group" ng-class="{'has-error': myForm.u_name.$invalid}">
                    <!--<label>Tron ID</label>-->
                    <input class="" type="text" name="u_name" placeholder="Enter Yesso ID"  ng-model="tron.username" required>
                    <span ng-show="myForm.u_name.$error.required" class="help-inline">*</span>
                </div>

                <div class="form-group error" ng-class="{error: myForm.pwd.$invalid}">
                    <!--<label>Password</label>-->
                    <input class="" type="password" name="pwd" placeholder="Enter password" ng-model="tron.password" required>
                    <span ng-show="myForm.pwd.$error.required" class="help-inline">*</span>
                </div>

                <input type="hidden"  ng-model="tron.apiKey">
                <p class="text-center">

                    <button  ng-click="login()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Sign In</button>

                </p>
            </form>

        </div>
    </div>
</div>


<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/Scope.SafeApply.js"></script>
<script type="text/javascript" src="phonegap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="main.js"></script>

<script type="text/javascript" src="scripts/indexcontroller.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<script type="text/javascript">
    app.initialize();
</script>
</body>
</html>
