
    <my-head-mat
        showBack=true
        title="HouseHold Enrolment"
        newHousehold="newHouseholdEnrolment()"
        onBack="returnBack()">
    </my-head-mat>

    <div class="yesso alert"  >
        <h1>Household Registration</h1>
    </div>

    <div class="container">

            <div>

                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="s in household">
                        <span class="badge">{{s.questions.length}}</span>
                        <a ng-tap="householdInfo.index=$index; $navigate.go('/two/{{$index}}/{{householdInfo.counter}}','slide')" >{{s.label}}</a>
                    </li>
                </ul>

            </div>

        <div class="well">
                <button ng-click="saveEnrolment()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save changes</button>
                <button ng-click="addMemberEnrolment()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-user"></span>
                    Add Member
                </button>

                <button ng-click="saveEnrolment()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                    Cancel
                </button>

        </div>


    </div>
