
    <my-head-mat
        showBack=true
        title="HouseHold Enrolment"
        newHousehold="newHouseholdEnrolment()"
        onBack="returnBack()">
    </my-head-mat>

    <div class="container">
            <div class="alert page-header" style="background-color: #010066;color: #ffffff">
                <h1 >Member Registration</h1>
            </div>
            <div>

                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="s in household">
                        <span class="badge">{{s.questions.length}}</span>
                        <a ng-tap="householdInfo.index=$index; $navigate.go('/two/{{$index}}/{{householdInfo.counter}}','slide')" >{{s.label}}</a>
                    </li>
                </ul>

            </div>

    </div>
