<my-head-mat
        showBack="true"
        title="New HouseHold Enrolment"
        onBack="$navigate.back()"
        >
</my-head-mat>


<div class="container">

        <ul class="pager">
            <li class="previous"><a ng-tap="returnBack()" ><span class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
        </ul>

        <h2>{{selectedQuestion.question</h2>
        <!--options-->

        <div class="container" scrollable>
            <p>Option one</p>
            <p>Option one</p>
            <p>Option one</p>

        </div>

</div>
<ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Skip</a></li>
    <li><a href="#">Next</a></li>
</ul>