<my-head-mat
        showBack="true"
        title="New HouseHold Enrolment"
        onBack="$navigate.back()"
        >
</my-head-mat>


<div class="container">

        <ul class="pager">
            <li class="previous"><a ng-tap="$navigate.back()" ><span class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
        </ul>

        <render-question
                question="household[householdInfo.index].questions[householdInfo.counter]">
        </render-question>
</div>
<ul class="pager">
    <!--<li><a  ng-click="">Previous</a></li>-->
    <li><a ng-disable="canNext()" ng-tap="setPage(householdInfo.counter+1);$navigate.go('/two/{{householdInfo.index}}/{{householdInfo.counter+1}}','slide')">Skip</a></li>
    <li><a ng-disable="canNext()" ng-tap="setPage(householdInfo.counter+1);$navigate.go('/two/{{householdInfo.index}}/{{householdInfo.counter+1}}','slide')" >Next</a></li>
</ul>