<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
    <div class="navbar-header text-center">

        <button  type="button" class="btn btn-default navbar-btn navbar-left pull-left push-left-2"
                 ng-click="onBack()" ng-show="show_back">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <p class="pull-right navbar-item" >
            <img class="img-polaroid" style="width: 30px;" src="img/{{user.url}}">
           <!-- {{user.displayName}}-->
        </p>
        <img src="img/logo.png" height="50px" class="pull-left">
        <a class="navbar-brand" >
            {{title}}
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/home"><span class="glyphicon glyphicon-hand-left"></span> Home</a></li>
           <!-- <li><a href="#/new"><span class="glyphicon glyphicon-certificate"></span> New House Enrolment</a></li>-->
            <li><a ng-click="newHouseHold($event)" href="#/house"><span class="glyphicon glyphicon-home"></span> New House Enrolment</a></li>
            <li><a ng-click="newMemberHold($event)" href="#/member/0"><span class="glyphicon glyphicon-user"></span> New Member Enrolment</a></li>
            <li><a href="#/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
            <li><a href="#/category"><span class="glyphicon glyphicon-folder-open"></span> Categories</a></li>
            <li><a href="#" ng-click="logout($event)"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
    </div>
    </div>
</div>
